---
layout: default
title: Syllabus
---

<h2>
  Data Visualization<br/>
  <small>CS 360-01 &bull; Spring 2016 &bull; 4 Credits</small>
</h2>

<p class="lead">{{ site.blurb }}</p>

{% include bookmark.html type="h2" heading="Course Details" class="page-header" %}

{% include bookmark.html type="h3" heading="Lectures" %}

<p>
  <i class="fa fa-calendar fa-fw"></i> Mondays, Wednesdays, Fridays &bull; 2:15pm to 3:20pm<br/>
  <i class="fa fa-university fa-fw"></i> <a href="https://www.usfca.edu/virtual-tour/main-campus/harney-science">Harney Science Center</a>, Room 235
</p>

{% include bookmark.html type="h3" heading="Instructor" %}

<h4>Professor Sophie Engle</h4>

<p>
  <i class="fa fa-globe fa-fw"></i> <a href="http://sjengle.cs.usfca.edu/">sjengle.cs.usfca.edu</a><br/>
  <i class="fa fa-envelope fa-fw"></i> <a href="mailto:sjengle@cs.usfca.edu"><strike>sjengle@cs.usfca.edu</strike></a> <em class="text-muted small">(use <a href="https://piazza.com/class/ij7vhke2rvy70a" class="text-muted">Piazza</a> instead)</em><br/>
  <i class="fa fa-university fa-fw"></i> <a href="https://www.usfca.edu/virtual-tour/main-campus/harney-science">Harney Science Center</a>, Room 531/532
</p>

<h4>Office Hours</h4>

<p>Wednesdays &bull; 3:30pm to 5:00pm<br/>
Thursdays &bull; 3:30pm to 5:00pm<br/>
<em>and by appointment</em></li>
</p>

{% include bookmark.html type="h3" heading="Teacher Assistant" %}

<h4>Melanie Baybay</h4>

<p>
  <i class="fa fa-envelope fa-fw"></i> <strike><a href="mailto:mbaybay@dons.usfca.edu">mbaybay@dons.usfca.edu</a></strike> <em class="text-muted small">(use <a href="https://piazza.com/class/ij7vhke2rvy70a" class="text-muted">Piazza</a> instead)</em><br/>
  <i class="fa fa-university fa-fw"></i> Harney Science Center, Room 530/535 (CS Labs)
</p>

<h4>Office Hours</h4>

<p>
  Pending
</p>

{% include bookmark.html type="h3" heading="Prerequisites" %}

<p>You must have completed <strong>CS 212 Software Development</strong> or <strong>CS 245 Data Structures and Algorithms</strong> with a grade of C or better <em>before</em> to taking this course.</p>

{% include bookmark.html type="h3" heading="Learning Outcomes" %}

<p>At the end of this course, students should be able to:</p>

<ul>
  <li><p>Understand basic principles of data visualization</p></li>
  <li><p>Understand how to evaluate existing visualizations</p></li>
  <li><p>Understand how to design and prototype standard visualization techniques</p></li>
</ul>

<p>Assessment of these outcomes will be done by a combination of quizzes, exercises, homework, and projects.</p>

{% include bookmark.html type="h3" heading="Weekly Schedule" %}

<p>The approximate weekly schedule is provided below:</p>

<ul>
  <li><strong>Week 01:</strong> Introduction</li>
  <li><strong>Week 02:</strong> Data and Charts</li>
  <li><strong>Week 03:</strong> Visualizing Time Series</li>
  <li><strong>Week 04:</strong> Design Principles</li>
  <li><strong>Week 05:</strong> Visualizing Multivariate Data</li>
  <li><strong>Week 06:</strong> <em>Data Vis Talks</em></li>
  <li><strong>Week 07:</strong> Evaluation and Redesign</li>

  <li class="text-muted">
    <em>
      <strong>Week 08:</strong>
      Spring Break &ndash; No Classes
    </em>
  </li>

  <li class="text-danger">
    <strong>Week 09:</strong>
    <em>Midterm Project Presentations</em>
  </li>

  <li><strong>Week 10:</strong> Interactivity and Animation</li>
  <li><strong>Week 11:</strong> Visualizing Geospatial Data</li>
  <li><strong>Week 12:</strong> <em>Data Vis Talks</em></li>
  <li><strong>Week 13:</strong> Visualizing Hierarchical Data</li>
  <li><strong>Week 14:</strong> Visualizing Graph Data </li>
  <li><strong>Week 15:</strong> <em>Data Vis Talks</em></li>
  <li><strong>Week 16:</strong> Special Topics in Visualization</li>

  <li class="text-danger">
    <strong>Finals:</strong>
    <em>Final Project Presentations</em>
    <br/>
    <em>Monday, May 16, 2016, 3:00pm &ndash; 5:00pm</em>
  </li>
</ul>

<p>Please note this is subject to change at any time. Please see the <a href="{{ site.github.url }}/schedule.html">Course Schedule</a> for the latest information.</p>

<!-- -------------------------------------- -->
{% include bookmark.html type="h2" heading="Course Resources" class="page-header" %}

<p>The following sections detail the resources used in this course. Free alternatives are provided where possible.</p>

{% include bookmark.html type="h3" heading="Course Website" %}

<p>We will be using <a href="{{ site.github.url }}">{{ site.github.url }}</a> for the primary course website. This website contains the <a href="{{ site.github.url }}/schedule.html">schedule</a> and <a href="{{ site.github.url }}/syllabus.html">syllabus</a>, as well as occasional announcements. All other course resources will be accessible from this website.</p>

{% include bookmark.html type="h3" heading="Required Books" %}

<p>There are no required books for this class. However, students may find the following books useful:</p>

<ul>
  <li><p>
    <strong><a href="http://alignedleft.com/work/d3-book">Interactive Data Visualization for the Web</a></strong><br/>
    by Scott Murray, O'Reilly Media, 2012.
  </p></li>

  <li><p>
    <strong><a href="https://www.cs.ubc.ca/~tmm/vadbook/">Visualization Analysis and Design</a></strong> &nbsp; <a href="http://0-proquest.safaribooksonline.com.ignacio.usfca.edu/book/graphic-design/9781466508910" class="btn btn-primary btn-xs"><i class="fa fa-book"></i> Read Free</a></span><br/>
    by Tamara Munzner, CRC Press, 2014.
  </p></li>

  <li><p>
    <strong><a href="http://www.edwardtufte.com/tufte/books_vdqi">The Visual Display of Quantitative Information</a></strong><br/>
    by Edward Tufte, 2001.
  </p></li>
</ul>

<p><img src="{{ site.github.url }}/images/safari-logo-lockup-sunshine.png" class="img img-responsive img-pad" width="250"></p>

<p>Students may also find the many JavaScript reference books available on <strong><a href="https://www.usfca.edu/library/safaribooks">Safari Books Online</a></strong> useful. This is a free resource for all USF students (login or on-campus access required).</p>

{% include bookmark.html type="h3" heading="Student Questions" %}

<p><img src="{{ site.github.url }}/images/piazza_logo.png" class="img img-responsive img-pad" width="250"></p>

<p>We will be using <a href="https://piazza.com/usfca/spring2016/cs36001/home">Piazza</a> student questions. Piazza is <a href="https://piazza.com/ferpa.html">FERPA-compliant</a>, and keeps student information private. Piazza is accessible within the <a href="https://usfca.instructure.com/courses/1558949">Canvas website</a> or via the <a href="https://piazza.com/usfca/spring2016/cs36001/home">direct link</a> (login required).</p>

<p>Students should post <em>all</em> their questions on this website. General questions should be made "public" so that all other students may view and respond to the question. The question will <em>not</em> be viewable by anyone outside of this class. Students may opt to post or respond to questions anonymously.</p>

<p>Students may make a "private" post for questions more sensitive in nature. This includes questions about grades or specific solutions. These posts will only be visible by the instructor and teacher assistant.</p>

<p>Any questions emailed directly to the instructor or teacher assistant will be redirected to Piazza before being answered. We will also ask you to make any private posts that are general (i.e. do not contain sensitive information) public before responding to the question. Students may still opt to post anonymously if they choose.</p>

{% include bookmark.html type="h3" heading="Other Resources" %}

<p><img src="{{ site.github.url }}/images/canvas_logo.png" class="img img-responsive img-pad" width="250"></p>

<p>We will be using <a href="https://usfca.instructure.com/courses/1558949">Instructure Canvas</a> for grades (including peer grading exercises), quizzes, and graded discussions. You can access Canvas via the <a href="https://usfca.instructure.com/courses/1558949">direct link</a> or by logging into <a href="http://myusf.usfca.edu/">myUSF</a> using your student account.</p>

<p><img src="{{ site.github.url }}/images/github_logo.png" class="img img-responsive img-pad" width="250"></p>

<p>We will also be using <a href="https://github.com/">GitHub</a> for all homework and project code repositories, as well as <a href="https://pages.github.com/">GitHub Pages</a> to host visualization prototypes on the web for free. Basic GitHub accounts are free, but students can get an upgraded account by signing up for the <a href="https://education.github.com/">Student Developer Pack</a> using their USF emails.</p>

<!-- -------------------------------------- -->
{% include bookmark.html type="h2" heading="Course Requirements" class="page-header" %}

<p>Students must complex a mix of participation and homework assignments, as well as two projects. The following sections provide more details on each.</p>

{% include bookmark.html type="h3" heading="Participation Assignments" %}

<p>Students must participate in discussions and exercises both in and outside of class. Since these assignments are often subjective and have no single "correct" answer, they are graded based on effort. Example participation assignments include:</p>

<ul>
  <li>
    <p>
      <strong>Peer Feedback</strong>:
      Students are expected to provide peer feedback for all homework submissions and project prototypes. Students will be randomly assigned 2 to 3 other submissions to review, and given approximately 1 week following the assignment deadline to complete the feedback.
      <br/>
      <span class="text-muted">
        <i class="fa fa-clock-o fa-spin"></i>
        <em><small>approx. 20 min per submission</small></em>
      </span>
    </p>
  </li>

  <li><p><strong>Graded Discussions</strong>: There may occasionally be graded discussions posted either on Canvas or Piazza. For example, these discussions may ask students to comment on the strengths or weaknesses of recent visualizations or new techniques, or ask students to post their favorite visualizations in a specific category.<br/>
  <span class="text-muted"><i class="fa fa-clock-o fa-spin"></i> <em><small>approx. 20 min per assignment</small></em></span></p></li>

  <li>
    <p>
      <strong>Data Vis Talks</strong>:
      Students are expected to lead a 10 to 15 minute discussion on a topic in data visualization. Students should choose a topic in data visualization, research that topic, give a brief 5 minute presentation on that topic in class, and then lead the class in a brief 5 minute discussion on that topic. Valid topics include any tools, techniques, papers, or examples related to the topics covered in-class in the previous weeks. The topic must be approved by the instructor.
      <br/>
      <span class="text-muted">
        <i class="fa fa-clock-o fa-spin"></i>
        <em><small>approx. 2 hours total (includes prep and talk)</small></em>
      </span>
    </p>
    <p class="alert alert-success">
      <i class="fa fa-thumbs-o-up"></i>
        Students will earn <strong>extra credit</strong> if they choose to present their own homework submission, and then lead a discussion evaluating their approach.
    </p>
  </li>

  <li>
    <p>
      <strong>Project Videos</strong>:
      Students are expected to record 5 to 10 minute videos demonstrating their projects. These videos will be shown in class, and students will be asked to vote on their favorites. There are several free software options students can use to record these videos.
      <br/>
      <span class="text-muted">
        <i class="fa fa-clock-o fa-spin"></i>
        <em><small>approx. 2 hours total (includes prep and recording)</small></em>
      </span>
    </p>
  </li>
</ul>

<p>Students must provide professional, substantive, and constructive comments to receive full credit for participation assignments. The university's policies on <a href="#student-conduct">student conduct</a> also apply.</p>

{% include bookmark.html type="h3" heading="Homework Assignments" %}

<p>
  There will be approximately 5 programming homework assignments throughout the semester. These assignments must be completed individually. Grading will be based on functionality&mdash;not aesthetics. Each homework will have an associated list of core features and extra features. Students must successfully implement all of the core features to earn a "C" letter grade on the assignment. Once the core features are completed, students may complete additional extra features to earn a "B" or higher letter grade.
  <br/>
  <span class="text-muted">
    <i class="fa fa-clock-o fa-spin"></i>
    <em><small>approx. 6 to 10 hours per assignment</small></em>
  </span>
</p>

<p class="alert alert-success">
  <i class="fa fa-thumbs-o-up"></i>
    Students may earn <strong>extra credit</strong> by implementing more extra features than necessary. However, each homework grade will be capped at 110%.
</p>

{% include bookmark.html type="h3" heading="Midterm Project" %}

<p>
  The midterm project is a team project where teams must create at least 3 to 4 complementary visualizations of a single dataset. The dataset will be provided by the professor. Teams must record a video demonstrating their project, which will be shown in-class after spring break.
  <br/>
  <span class="text-muted">
    <i class="fa fa-clock-o fa-spin"></i>
    <em><small>approx. 12 to 20 hours total (2 weeks of work)</small></em>
  </span>
</p>

{% include bookmark.html type="h3" heading="Final Project" %}

<p>
  The final project is an individual project where students must choose a dataset and create at least 3 to 4 complementary visualizations of that dataset. The dataset must be approved by the instructor. Students will be asked to produce a sketch and prototype of their final projects for evaluation by their peers, and must record a video demonstrating their project to be shown in-class during finals week.
  <br/>
  <span class="text-muted">
    <i class="fa fa-clock-o fa-spin"></i>
    <em><small>approx. 18 to 30 hours total (3 weeks of work)</small></em>
  </span>
</p>

<!-- -------------------------------------- -->
{% include bookmark.html type="h2" heading="Course Grading" class="page-header" %}

<p>The following sections provide the initial grade breakdown and grading scale for this course. Both of these are subject to change.</p>

{% include bookmark.html type="h3" heading="Grade Breakdown" %}

<p>The final grade for this course will depend on a mix of participation assignments, homework assignments, and projects. The specific breakdown is as follows:</p>

<p style="margin-left: 2.25em">
20% Participation<br/>
20% Homework<br/>
20% Midterm Project<br/>
40% Final Project
</p>

See the <a href="#course-requirements">Course Requirements</a> section for details on each category.

{% include bookmark.html type="h3" heading="Grading Scale" %}

<p>The final letter grade will be assigned according to the following scale:</p>

<table style="margin-left: 2.25em;" cellspacing="0" cellpadding="0"><tbody>
  <tr><td>A+</td><td>&nbsp;&geq;&nbsp;</td><td>97%</td></tr>
  <tr><td>A </td><td>&nbsp;&geq;&nbsp;</td><td>94%</td></tr>
  <tr><td>A–</td><td>&nbsp;&geq;&nbsp;</td><td>90%</td></tr>
  <tr><td>B+</td><td>&nbsp;&geq;&nbsp;</td><td>87%</td></tr>
  <tr><td>B </td><td>&nbsp;&geq;&nbsp;</td><td>84%</td></tr>
  <tr><td>B–</td><td>&nbsp;&geq;&nbsp;</td><td>80%</td></tr>
  <tr><td>C+</td><td>&nbsp;&geq;&nbsp;</td><td>77%</td></tr>
  <tr><td>C </td><td>&nbsp;&geq;&nbsp;</td><td>74%</td></tr>
  <tr><td>C–</td><td>&nbsp;&geq;&nbsp;</td><td>70%</td></tr>
  <tr><td>D+</td><td>&nbsp;&geq;&nbsp;</td><td>67%</td></tr>
  <tr><td>D </td><td>&nbsp;&geq;&nbsp;</td><td>64%</td></tr>
  <tr><td>D–</td><td>&nbsp;&geq;&nbsp;</td><td>60%</td></tr>
  <tr><td>F </td><td>&nbsp;&lt;&nbsp; </td><td>60%</td></tr>
</tbody>
</table>

<p>For example, you will receive a C letter grade if your grade is greater than or equal to 70% and less than 77%. Please note this scale is subject to change. See the <a href="https://www.usfca.edu/catalog/regulations/student">Undergraduate Student Regulations</a> for more information about letter grades and how they are translated into GPA.</p>

<!-- -------------------------------------- -->
{% include bookmark.html type="h2" heading="Course Policies" class="page-header" %}

<p>The following policies are specific to this course. The policies for this class are strict, but students concerned about their grades are welcome to inquire about extra credit opportunities.</p>

{% include bookmark.html type="h3" heading="Class Attendance" %}

<p>Students are expected to be on-time to all classes. Attendance is mandatory for all in-class exercises. Excused absences must be arranged <strong>prior</strong> to the missed class unless in case of emergency (such as an emergency room visit).</p>

{% include bookmark.html type="h3" heading="Late Submissions" %}

<p>All deadlines are firm. It the responsibility of the student to turn in assignments <strong>before</strong> (not at or after) the deadline provided. Late submissions will not be accepted.</p>

<p>Exceptions to this policy are made only in the case of verifiable medical or family emergency. Extensions must be arranged <strong>prior</strong> to the original deadline unless in case of emergency (such as an emergency room visit).</p>

{% include bookmark.html type="h3" heading="Honor Code Violations" %}

<p>All students are expected to know and adhere to the <a href="http://myusf.usfca.edu/academic-integrity/honor-code">Academic Honor Code</a> of the University of San Francisco. See the "University Policies" section in this syllabus for more information.</p>

<p><strong>You must never represent another person's work as your own.</strong> Examples of violations include (but are not limited to): copying and pasting code without attribution from the web, copying from another student, and having anyone other than yourself complete your work. It also includes sharing your solutions with others, or working too closely with another student. Unauthorized collaboration or discussion that results in the same or very similar code indicates that you have not placed enough <em>independent work</em> into your submission and is a violation of the honor code.</p>

<p><strong class="text-danger">Flagrant or repeat violations of the honor code will result in an F in the course, a report to the Academic Integrity Committee (AIC), and a report to the Dean.</strong> At the discretion of the instructor, a less severe penalty may be imposed for minor or first offenses. This is at the sole discretion of the instructor and <em>any</em> violation may result in an F in the course.</p>

<!-- -------------------------------------- -->
{% include bookmark.html type="h2" heading="University Policies" class="page-header" %}

<p><img src="{{ site.github.url }}/images/usf_logo.png" class="img img-responsive img-pad" width="250"></p>

<p>The following policies apply to all students at the University of San Francisco. Visit the <a href="https://www.usfca.edu/catalog/policies">General Catalog</a> at <a href="https://www.usfca.edu/catalog/policies">www.usfca.edu/catalog/policies</a> for more information.</p>

{% include bookmark.html type="h3" heading="Time Commitment" %}

<p>The <a href="https://www.usfca.edu/sites/default/files/about_usf/usf_credit_hour_policy.pdf">USF Credit Hour Policy</a> states that students should spend a minimum of 2 hours on out-of-class work per unit of credit. This works out to a <em>minimum</em> of 8 hours of out-of-class work for this 4 credit hour course.</p>

{% include bookmark.html type="h3" heading="Academic Integrity" %}

<p>As a Jesuit institution committed to <em>cura personalis</em>&mdash;the care and education of the whole person&mdash;USF has an obligation to embody and foster the values of honesty and integrity. USF upholds the standards of honesty and integrity from all members of the academic community. All students are expected to know and adhere to the University's <a href="http://myusf.usfca.edu/academic-integrity/honor-code">Academic Honor Code</a>. Visit <a href="http://myusf.usfca.edu/academic-integrity/honor-code">myusf.usfca.edu/academic-integrity</a> for the full text of the honor code.</p>

<p>The policy includes standards of "honesty and integrity" that cover cheating, plagiarism, and academic fraud. This includes the use of unauthorized materials, participating in unauthorized collaboration, copying without attribution work from the web or elsewhere, sharing your work without authorization on the web or elsewhere, and in any way representing the work of others as one's own.</p>

<p>Visit <a href="http://myusf.usfca.edu/academic-integrity/honor-code">myusf.usfca.edu/academic-integrity</a> for more details. The course-specific penalties for violating the academic honor code are described in the "Course Policies" section of this syllabus.</p>

{% include bookmark.html type="h3" heading="Student Conduct" %}

<p>All students are expected to behave in accordance with the <a href="http://myusf.usfca.edu/fogcutter/student-conduct/section-5-prohibited-conduct">Student Conduct Code</a> and other <a href="https://www.usfca.edu/catalog/policies">University policies</a>.</p>

<p>Open discussion and disagreement is encouraged when done respectfully and in the spirit of academic discourse. There are also a variety of behaviors that, while not against a specific University policy, may create disruption in this course. Students whose behavior is disruptive or who fail to comply with the instructor may be dismissed from the class for the remainder of the class period and may need to meet with the instructor or Dean prior to returning to the next class period. If necessary, referrals may also be made to the <a href="https://myusf.usfca.edu/student-health-safety/student-conduct/conduct-process">Student Conduct Process</a> for violations of the <a href="http://myusf.usfca.edu/fogcutter/student-conduct/section-5-prohibited-conduct">Student Conduct Code</a>.</p>

<p>Please visit the <a href="https://myusf.usfca.edu/student-health-safety/student-conduct/">Office of Student Conduct, Rights, and Responsibilities (OSCRR)</a> at <a href="https://myusf.usfca.edu/student-health-safety/student-conduct/">myusf.usfca.edu/student-conduct</a> or the <a href="http://myusf.usfca.edu/fogcutter">Student Handbook</a> at <a href="http://myusf.usfca.edu/fogcutter">myusf.usfca.edu/fogcutter</a> for more information.</p>

{% include bookmark.html type="h3" heading="Mandatory Reporting" %}

<p>As an instructor, one of my responsibilities is to help create a safe learning environment on our campus. I also have a mandatory reporting responsibility related to my role as a faculty member. I am required to share information regarding sexual misconduct or information about a crime that may have occurred to a USF student with the University. Here are other resources:</p>

<ul>
<li><p>Students may visit Anna Bartkowski (UC 5th floor) or visit <a href="http://myusf.usfca.edu/student-health-safety/safer">myusf.usfca.edu/student-health-safety/safer</a> to report any sexual misconduct.</p></li>

<li><p>Students may contact <a href="http://myusf.usfca.edu/student-health-safety/caps">Counseling and Psychological Services (CAPS)</a> at 415-422-6352 to speak to someone confidentially, or report a sexual assault confidentially.</p></li>

<li><p>Students may visit the <a href="https://usfca.callistocampus.org/">Callisto</a> website at <a href="https://usfca.callistocampus.org/">usfca.callistocampus.org</a> to find out more about reporting a sexual assault at USF.</p></li>

<li><p>Students may contact <a href="http://www.sfwar.org">San Francisco Women Against Rape (SFWAR)</a> at <a href="http://www.sfwar.org">www.sfwar.org</a> or call (415) 647-7273 for an off-campus resource.</p></li>
</ul>

<p>Visit <a href="http://myusf.usfca.edu/student-health-safety/safer">myusf.usfca.edu/student-health-safety/safer</a> for more information.

{% include bookmark.html type="h3" heading="Tuition Reversal" %}

<p>Students who wish to have the tuition charges reversed on their student account should withdraw from the course(s) by the end of the business day on the last day to withdraw with tuition credit (census date) for the applicable course(s) in which the student is enrolled.</p>

<p>Please note that the last day to withdraw with tuition credit may vary by course. The last day to withdraw with tuition credit (census date) listed in the <a href="http://myusf.usfca.edu/onestop/registration/academic-calendar">Academic Calendar</a> is applicable only to courses which meet for the standard 15-week semester. To find what the last day to withdraw with tuition credit is for a specific course, please visit the <a href="http://myusf.usfca.edu/onestop/registration/class-schedule-final-exams">Online Class Schedule</a>.</p>

<p>Visit <a href="http://myusf.usfca.edu/onestop">myusf.usfca.edu/onestop</a> or call (415) 422-2020 for more information.</p>

<!-- -------------------------------------- -->
{% include bookmark.html type="h2" heading="Student Resources" class="page-header" %}

<p>The following are general resources available to students at the University of San Francisco. For more information, please contact the relevant office.</p>

{% include bookmark.html type="h3" heading="Student Disability Services" %}

<p>If you are a student with a disability or disabling condition, or if you think you may have a disability, please contact <a href="http://myusf.usfca.edu/student-life/sds">Student Disability Services (SDS)</a> within the first week of class, or immediately upon onset of disability, to speak with a disability specialist. If you are determined eligible for reasonable accommodations, please meet with your disability specialist so they can arrange to have your accommodation letter sent to the instructor.</p>

<p>Visit <a href="http://myusf.usfca.edu/student-life/sds">myusf.usfca.edu/sds</a> or call (415) 422-2613 for more information.</p>

{% include bookmark.html type="h3" heading="Learning and Writing Center" %}

<p>The <a href="http://myusf.usfca.edu/student-life/lwc">Learning and Writing Center (LWC)</a> provides assistance to all students in pursuit of academic success. Peer tutors provide regular review and practice of course materials in the subjects of Math, Science, Business, Economics, Nursing and Languages. Other content areas can be made available by student request. Log-on to <a href="https://tutortrac.usfca.edu">TutorTrac</a> at <a href="https://tutortrac.usfca.edu">tutortrac.usfca.edu</a> to schedule an appointment. Students may also take advantage of writing support provided by Rhetoric and Language Department instructors and academic study skills support provided by Learning Center professional staff.</p>

<p>Visit <a href="http://myusf.usfca.edu/student-life/lwc">myusf.usfca.edu/lwc</a> or call (415) 422-6713 for more information.</p>

{% include bookmark.html type="h3" heading="Counseling and Psychological Services" %}

<p>The diverse staff at <a href="http://myusf.usfca.edu/student-health-safety/caps">Counseling and Psychological Services (CAPS)</a> offers brief individual, couple, and group counseling to student members of our community. CAPS services are confidential and free of charge. Call (415) 422-6352 for an initial consultation appointment. Having a crisis at 3am? CAPS is still there for you. Telephone consultation through CAPS After Hours is available between the hours of 5:00pm to 8:30am; call the above number and press 2.</p>

<p>Visit <a href="http://myusf.usfca.edu/student-health-safety/caps">myusf.usfca.edu/caps</a> or call (415) 422-6352 for more information.</p>
